body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(92, 29, 151);
}

.simple-text {
    font-family: 'Montserrat', sans-serif;
    color: rgb(251, 249, 253);
}

a {
    text-decoration: none;
}

