body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(26, 26, 26);
}

.simple-text {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center; 
    display: block; 
    margin: 10px auto;
}

a {
    color: rgb(72, 6, 133);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center; 
    display: block; 
    margin: 10px auto;
}